# Pastas e arquivos do Visual Studio
.vs/

# Build, binários
bin/
obj/

src/MarcenariaExclusive.API/bin/
src/MarcenariaExclusive.API/obj/
tests/MarcenariaExclusive.Tests/bin/
tests/MarcenariaExclusive.Tests/obj/

*.dll
*.exe





